{
    "schemaVersion": "1.0",
    "artifacts": {
        "periphery": {
            "version": "__VERSION__",
            "type": "executable",
            "variants": [
                {
                    "path": "periphery-__VERSION__-macos/bin/periphery",
                    "supportedTriples": [__SUPPORTED_TRIPLES__]
                }
            ]
        }
    }
}
